* {
	box-sizing: border-box;
}
body {
	background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png") repeat center;
	color: #444349;
	width: 100vw;
}
h1, h2 {
	font-family: 'Great Vibes', cursive;
}
h2 {
	font-size: 3rem;
}
img {
	width: 7rem;
	margin: 2rem;
}
a {
	color: #bd806e;
	text-decoration: none;
}
a:hover {
	color: #eda087;
}

/* === HEADER === */

.cover {
	background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat center/cover;
	height: 100vh;
	width: 100vw;
	display: table;
}

.text-wrapper {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.text {
	width: 50%;
	margin: 0 auto;
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
	color: rgba(255,255,255,.9);
	padding: 2rem;
}
.text h1 {
	font-size: 7rem;
	color: #d2ba87;
	padding: 1.5rem 0;
}
.tagline {
	letter-spacing: .15rem;
	font-family: 'Libre Baskerville', serif;
	font-size: 1.25rem;
	text-transform: uppercase;
}
.tagline::after {
	content: "";
	height: 1px;
	background-color: #fff;
	display: block;
	width: 12rem;
	margin: 1rem auto;
}
.date {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.25rem;
	letter-spacing: .15rem;
}
.date::before {
	content: "";
	height: 1px;
	background-color: #fff;
	display: inline-block;
	width: 1.5rem;
	vertical-align: middle;
	margin: 0 .15rem;
}
.date::after {
	content: "";
	height: 1px;
	background-color: #fff;
	display: inline-block;
	width: 1.5rem;
	vertical-align: middle;
	margin: 0 .15rem;
}


@media screen and (max-width: 768px) {
	.text {
		width: 100%;
		padding: 1rem;
	}
	.tagline {
		text-transform: none;
	}
	.text h1 {
		font-size: 3rem;
		padding-top: 0;
		padding-bottom: .5rem;
	}
}



/* === MAIN === */

.locations, .gifts, .contact {
	margin: 2rem;
}


/* === SECTION LOCATIONS === */

.locations {
	text-align: center;
}
.locations h2 {
	margin-bottom: 1rem;
}
.blurb {
	display: inline-block;
	width: 30%;
	padding: 1rem;
	margin: 1rem 0;
}
.blurb h3 {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'Libre Baskerville', serif;
}
.blurb div {
	font-family: 'Muli', sans-serif;
	font-size: 1.125rem;
	padding: .25rem 0;
}


@media screen and (max-width: 768px) {
	.blurb {
		width: 100%;
		margin: 0;
		padding-bottom: 0;
	}
	.blurb::after {
		content: "";
		height: 3px;
		background-color: #444349;
		display: inline-block;
		width: 25vw;
		margin: 2rem 0 1rem;
	}
}



/* === SECTION PROGRAM === */

.program {
	background-color: rgb(0,0,0,.6);
	width: 100%;
	color: #d2ba87;
	padding: 3rem 0;
	font-family: 'Muli', sans-serif;
	font-size: 1.125rem;
}
.program-wrapper {
	width: 30%;
	margin: 0 auto;
}
.program-wrapper h2 {
	text-align: center;
}
.program-wrapper p {
	font-style: italic;
	padding: 2rem 0;
}
.program-wrapper {
	line-height: 1.625rem;
}


@media screen and (max-width: 768px) {
	.program-wrapper {
		width: 100%;
		padding: 1rem;
	}
}



/* === SECTION GIFTS === */

.gifts {
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}
.gifts h2 {
	padding-bottom: 2rem;
}
.gifts p {
	font-size: 1.125rem;
}



/* === SECTION FAQ === */

.faq {
	background-color: rgb(0,0,0,.6);
	color: #d2ba87;
	padding: .5rem 0;
	text-align: center;
}
.faq h2 {
	padding: 1.5rem 0;
}
.faq h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.5rem;
	padding-bottom: 2rem;
}
.faq p {
	font-family: 'Muli', sans-serif;
}
.questions-group {
	margin: 1rem 0;
	padding: 1.5rem;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	line-height: 1.625rem;
	font-size: 1.125rem;
}
.question {
	font-weight: 700;
	margin-bottom: .5rem;
}
.answer {
	margin-bottom: 1.75rem;
}
@media screen and (max-width: 768px) {
	.questions-group {
		width: 100%;
		margin: 0;
		padding: 1rem;
	}
	.questions-group::after {
		content: "";
		height: 3px;
		width: 50vw;
		background-color: #d2ba87;
		display: block;
		margin: 2rem auto 0;
	}
}



/* === SECTION CONTACT === */

.contact {
	text-align: center;
	padding: 1rem 0 .5rem;
}
.contact h2 {
	margin-bottom: 1.5rem;
}
.contact p {
	font-family: 'Libre Baskerville', serif;
	margin-bottom: 2rem;
	font-size: 1.125rem;
}



/* === FOOTER === */

footer {
	background-color: rgb(0,0,0,.6);
	height: 10vh;
	display: table;
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: 'Muli', sans-serif;
}
.footer-wrapper {
	display: table-cell;
	vertical-align: middle;
}